
header {
   	display: flex;
   	flex-direction: row;
   	flex-wrap: wrap;
   	align-items: center;
   	justify-content: space-between;
}

body{
	background: #eaf0f7;
}

input, select{
	border-radius: 1rem;
	padding: 3px 6px;
}

select{
	width: 100%;
}

table.dataTable.no-footer, table.dataTable thead th{
	border: none;
	border-bottom: none;
}

.shadows{
	box-shadow: 0 0 12px rgb(0 0 0 / 15%);	
	padding: .5rem;
	margin: 0.5rem;
	border-radius: 1rem;
}

.card{
	background-color: #fff;
}

table{
     border-collapse: collapse;
     border-radius: 1rem;
 }
 
th, td{
     padding: .25rem;
     border-bottom: 2px solid #dee2e6;
     text-align: center;
}

 
 .row{
 	display: flex;
 	flex-direction: row;
 	flex-wrap: wrap;
 	justify-content: space-around;
 }
 
 .col{
 	display: flex;
 	flex-direction: column;
 }

 .common-button{
 	border-radius: 1rem;
 	padding: .3rem 1rem .3rem 1rem;
 	border: 2px solid #0d6efd;
    background: #fff;
    color: #0d6efd;
    transition: .5s;
 }
 .common-button:hover{
 	color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
 }
 
  .common-button.danger{;
    color: #fd5162;
 	border-color: #fd5162;
    background: #fff;
 }
 .common-button.danger:hover{
 	color: #fff;
    background-color: #fd5162;
    border-color: #fd5162;
 }
 
 p.danger{
 	color: #fd5162;
 }
 
  .common-button.secondary{;
    color: #6c757d;
 	border-color: #6c757d;
    background: #fff;
 }
 .common-button.secondary:hover{
 	color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
 }
 
 #inicio .common-button, form.login .common-button, .form-table .common-button{
 	margin: 1rem;
 }

a{
	text-decoration: none;
}

.row-center{
	display: flex;
 	flex-direction: row;
 	flex-wrap: wrap;
 	justify-content: center;
}

form.login, .form-table{
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}



form.login p{
	font-size: 1.5rem;
	margin: 1rem;
}

.col.modificacion-masiva>div{
	flex-grow: 1;
}

.col.modificacion-masiva h3{
	text-align: center;
}
